<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat</title>
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin" action="/room" method="post">
        <h1 class="mb-3 font-weight-normal">Click One of the Buttons Below</h1>
        <button name="all_chat" class="btn btn-lg btn-primary btn-block" value="submit">Join All Chat</button>
        <button name="chatting_room" class="btn btn-lg btn-primary btn-block" value="submit">Join a Room</button>
    </form>
</body>

</html>